* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  border: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#messages {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item-message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: thistle;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.item-message-header {
  display: flex;
  justify-content: space-between;
}

.item-message-header > span {
  font-weight: bold;
  font-size: 18px;
}

.item-message-body {
  overflow-wrap: break-word;
}

#message-entry-section {
  display: flex;
  flex-direction: column;
}

#user-typing {
  width: 100%;
  background: whitesmoke;
  padding: 0.25rem 1rem;
  font-style: italic;
}

#form {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  background-color: whitesmoke;
}

#input {
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
}

#btn-send-message {
  padding: 0.5rem;
  background-color: lightgray;
  border-radius: 0.5rem;
}